.wrapper{   
    background: var(--main-gradient);
    width: 780px;
    margin: 0 auto 28px;
    border: 2px solid var(--border-color);
    border-radius: 28px;
    padding: 8px 0;
}

.header{
    font-size: 40px;
    color: var(--logo-color);
    text-shadow: var(--logo-shadow-color) 0 0 16px; 
    margin-bottom: 8px;
}

.text{
    font-size: 20px;
    color: var(--main-text-color);
}