.list{
    width: 450px;
    margin: 0 auto;
}

.item{
    padding: 5px 0;
    background-color: #eeb645;
    border: 2px solid var(--border-color);
    border-radius: 15px;
    color: var(--main-text-color);
    font-size: 20px;
}

.item:not(:last-child){
    margin-bottom: 5px;
}

.total, .percentage{
    composes: item;
    font-size: 25px;
    font-weight: bold;
    color: var(--second-text-color);
}