@import-normalize; /* bring in normalize.css styles */

:root {
  --logo-color: #1e6141;
  --slogan-color: #3a753a;
  --main-text-color: #188325;
  --second-text-color: #2f6b33;
  --border-color: #124a4e;
  --bcg-color: #eeb645;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* height: 100vh; */
  font-size: 25px;
  color: darkgreen;
  text-align: center;  
  background: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
  background-image: url('https://picsum.photos/id/163/2000/1333');
  background-repeat: no-repeat;     
  background-position: left top;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}